<%- include("partials/header") %>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" name="titleText">
  </div>
  <div class="form-group">
    <label for="postInput">Post</label>
    <textarea class="form-control" id="postInput" rows="5" name="postText"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" name="submitButton">Submit</button>
</form>

<%- include("partials/footer") %>
